<% if @post %>
  <h1>Comments for <%= @post.title%></h1>
<% else %>
  <h1>All Comments</h1>
<% end %>

<ul>
<% @comments.each do |c|%>
  <li><%= c.user.username%> says "<%= c.content%>" about this post: <strong><%= link_to c.post.title, post_path(c.post_id) %></strong></li>
<% end %>
</ul>