<% if @user %>
  <h1><%= @user.username %>'s Posts:</h1>
<% else %>
  <h1>All Posts</h1>
<% end %>


<% if @posts.empty? %>

    <h2>No posts yet. Write a post <%= link_to "here", new_post_path%></h2>

<% else %>


  <ul>
    <% @posts.each do |p|%>
      <li><%= link_to p.title, post_path(p) %></li>
    <% end %>
  </ul>

<% end %>