 <%= index_display_header %>



<% if @posts.empty? %>

    <h2>No posts yet. Write a post <%= link_to "here", new_post_path%></h2>

<% else %>
  <%= render partial: "posts", locals: {posts: @posts} %>

<% end %>